* {
  font-family: "Red Rose", serif;
}
body {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
header {
  position: relative;
  padding: 0 2rem;
}

.header_section {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.bar_icon{
display: none;
}
li a{
  text-decoration: none;
  color:#434343;
}
.logo_text {
  background: linear-gradient(
    to right,
    rgba(220, 62, 136, 1),
    rgba(184, 64, 174, 1),
    rgba(132, 63, 232, 1)
  );
  background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  font-weight: 400;
  -webkit-text-stroke-color: transparent;
  box-shadow: rgba(96, 96, 96, 0.15);
  margin-top: 40px;
}

#wallet_btn {
  border: none;
  background: linear-gradient(rgba(160, 34, 121, 1));
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}
li {
  list-style: none;
}
#close-sidebar-btn {
  display: none;
}

.open {
  display: flex;
  justify-content: flex-end;
}

#open-sidebar-btn {
  display: none;
}
#modaloverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

.modal_con {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_context_con {
  background-color: #fff;
  padding: 35px;
  width: 300px;
  border-radius: 10px;
}
.modal_context {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#modal_input {
  padding: 10px;
  border: 1px solid gainsboro;
}
#modal_btn {
  background: linear-gradient(rgba(160, 34, 121, 1));
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  border: none;
}
#modal_close_btn {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -25px;
  left: 20px;
}
#modal_btn,
#modal_close_btn,
#modal_input {
  cursor: pointer;
}

.spanOne,
.spanTwo,
.spanThree {
  background: linear-gradient(rgba(160, 34, 121, 1));
  background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  font-weight: 400;
  -webkit-text-stroke-color: transparent;
  box-shadow: rgba(96, 96, 96, 0.15);
}

@media (max-width: 995px) {
}
