* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  font-family: "Red Rose", serif;
  min-height: 200vh;
}
header {
  position: relative;
  padding: 0 2rem;
}

.header_section {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 20px;
}

.bar_icon {
  display: none;
}
li a {
  text-decoration: none;
  color: #434343;
}
.logo_text {
  background: linear-gradient(
    to right,
    rgba(220, 62, 136, 1),
    rgba(184, 64, 174, 1),
    rgba(132, 63, 232, 1)
  );
  background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  font-weight: 400;
  -webkit-text-stroke-color: transparent;
  box-shadow: rgba(96, 96, 96, 0.15);
  margin-top: 40px;
}

#wallet_btn {
  border: none;
  background: linear-gradient(rgba(160, 34, 121, 1));
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}
li {
  list-style: none;
}
.vv {
  display: flex;
}
#close-sidebar-btn {
  display: none;
}

.open {
  display: flex;
  justify-content: flex-end;
}

#modaloverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#modaloverlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal_con {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_context_con {
  background-color: #fff;
  padding: 35px;
  width: 300px;
  border-radius: 10px;
}
.modal_context {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#modal_input {
  padding: 10px;
  border: 1px solid gainsboro;
}
#modal_btn {
  background: linear-gradient(rgba(160, 34, 121, 1));
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  border: none;
}
#modal_close_btn {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -25px;
  left: 20px;
}
#modal_btn,
#modal_close_btn,
#modal_input {
  cursor: pointer;
}

.spanOne,
.spanTwo,
.spanThree {
  background: linear-gradient(rgba(160, 34, 121, 1));
  background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  font-weight: 400;
  -webkit-text-stroke-color: transparent;
  box-shadow: rgba(96, 96, 96, 0.15);
}
#g {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.hero_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.hero_header {
  color: #434343;
  line-height: 70px;
  width: 646px;
  font-weight: 400;
  font-size: 56px;
}

.heroText {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  width: 636px;
  color: #434343;
}
.left_hero_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right_hero_img {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.left_hero_img {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  top: 80px;
}
.hero_imgs {
  display: flex;
  gap: 10px;
}

.input_con {
  display: flex;
}
input {
  margin: 15px;
}
.input_bg {
  border: 1px solid #a3a3a3;
  width: 390px;
  border-radius: 10px 0px 0px 10px;
  height: 44px;
  cursor: pointer;
}
.input_btn {
  width: 230px;
  height: 46px;
  background: #a02279;
  border: none;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.hero_input {
  background: transparent;
  border: none;
  outline: none;
}

.banner_con {
  margin-top: 200px;
  background: #a02279;
  /* width: 100%; */
  padding: 20px;
}

.carousel {
  width: 90%;
  display: flex;
  overflow-x: auto;
  justify-content: center;
}

.card {
  flex: 0 0 5em;
  text-align: center;
  align-items: center;
  height: 2em;
padding: 1em;
}

.carousel::-webkit-scrollbar{
display: none;
}


.banner_group {
  display: flex;
  align-items: center;
  /* justify-content: ; */
  gap: 5em;
  animation: spin 5s infinite linear;
  padding-right: 1em;
}
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
@media (max-width: 1075px) {
  .hero_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 857px) {
  .bar_icon {
    display: block;
    z-index: 10;
  }

  #close-sidebar-btn {
    display: block;
  }

  .close-sidebar-btn_con {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 15px;
    top: 20px;
  }

  .wallets_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #g {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 90%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);

    background: rgba(179, 12, 115, 0.932);
    padding: 15px;
    backdrop-filter: blur(15px);
    border-radius: 15px;
  }
  nav {
    display: flex;
    flex-direction: column;
    /* margin-top: 200px; */
  }

  .wallet_btn_con {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li a {
    color: #fff;
    cursor: pointer;
  }
}
/* @media (max-width: 697px) {
.bannerIcons img{
width: 100%;
}
} */

@media (max-width: 691px) {
  .right_hero_img {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .hero_section {
    display: flex;
    align-items: center;
  }

  .left_hero_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  .hero_imgs {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }

  .hero_header {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    width: 100%;
  }

  .heroText {
    text-align: center;
    font-size: 15px;
    width: 100%;
    color: #434343;
  }

  .input_con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  .input_bg,
  .input_btn {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 5px;
  }

  .input_btn {
    background: #a02279;
    border: none;
    color: #fff;
  }
}

@media (max-width: 470px) {
  .right_hero_img {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .left_hero_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  .input_con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  .input_bg,
  .input_btn {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 5px;
  }
}
